.team1 {
    /* background: url(91480c79dcdb86fff74484c9aa607c8a.jpg) no-repeat 0px 0px; */
    /* height: 100vh; */
    background-size: cover;
    background-position: center center;
}

.team2 {
    /* background: url(91480c79dcdb86fff74484c9aa607c8a.jpg) no-repeat 0px 0px; */
    height: 100vh;
    background-size: cover;
    background-position: center center;
}



.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.team-dot {
    background: url(./assets/images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}