body,
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    transform-style: preserve-3d;
}

main {
    display: block;
    overflow-x: hidden;
    height: 100vh;
    max-height: 100%;
    perspective: 1px;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    transform: translateZ(-1px) scale(2.03);
    padding: 1px 0;
    margin: 0 auto;
    background-image: url("https://i.pinimg.com/originals/27/97/c8/2797c870a7a4f11364b8851db24fbaa9.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
div.down {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 20px;
    top: 85%;
    transform: translate(-50%, -50%);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 55px solid white;
    background: transparent;
}
div:hover {
}

section {
    height: auto;
    font-family: "Courier New", Courier, monospace;
    /* padding: 20px; */
    align-content: center;
    transform: translateZ(0);
    background: white;
}
h1 {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    padding: 10px;
}
p {
    padding: 10px;
}
